<h1>Welcome to Santa loves Cyclists</h1>

<p>Register here to setup your wishlist, then wait for Christmas</p>

<p>To Create or Update your wish list you <strong>must</strong> be logged in.</p>


<!-- Countdown dashboard start -->
<h2>Be quick, Santa leaves to make deliveries in</h2> <br>
<div id="countdown_dashboard">
  <div class="dash weeks_dash">
    <span class="dash_title">weeks</span>
    <div class="digit">0</div>
    <div class="digit">0</div>
  </div>

  <div class="dash days_dash">
    <span class="dash_title">days</span>
    <div class="digit">0</div>
    <div class="digit">0</div>
  </div>

  <div class="dash hours_dash">
    <span class="dash_title">hours</span>
    <div class="digit">0</div>
    <div class="digit">0</div>
  </div>

  <div class="dash minutes_dash">
    <span class="dash_title">minutes</span>
    <div class="digit">0</div>
    <div class="digit">0</div>
  </div>

  <div class="dash seconds_dash">
    <span class="dash_title">seconds</span>
    <div class="digit">0</div>
    <div class="digit">0</div>
  </div>

</div>
<!-- Countdown dashboard end -->

<div>
  <img id="pulling-santa" class="align-center" src="/assets/PullingSanta150.jpg"/>
</div>
<div>
  <%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
</div>