<div id="dialog-form" title="Tell Santa who you are">
  <p class="validateTips">All form fields are required.</p>

  <form>
  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" id="reg-name" class="text ui-widget-content ui-corner-all"  placeholder = "tell santa your name ... "/>
    <label for="email">Email</label>
    <input type="text" name="email" id="reg-email" value="" class="text ui-widget-content ui-corner-all"  placeholder = "what's your email ... "/>
    <label for="password">Password</label>
    <input type="password" name="password" id="reg-password" value="" class="text ui-widget-content ui-corner-all" placeholder = "some secret ... " />
    <label for="password">Password Confirmation</label>
    <input type="password" name="password_confirmation" id="reg-password_confirmation" value="" class="text ui-widget-content ui-corner-all" placeholder = "same secret ... " />
  </fieldset>
  </form>
</div>