<div id="login-form" title="Log me in">
  <p class="validateTips">All form fields are required.</p>

  <form>
  <fieldset>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all"  placeholder = "what's your email ... "/>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" placeholder = "some secret ... " />
  </fieldset>
  </form>
</div>