body {
  background: url('/assets/social-media-agency-santas.jpg') 25px 200px repeat;
  margin-top: 25px;
}

.container {
  width: auto;
  // height: 550px;
  border: 5px solid black;
  background-color: rgba(51, 51, 51, 0.41);
  padding: 10px;
  margin-top: 15px;
  margin-left: 0px;

  .inner-container {
    border: 5px solid #fff;
    width: auto;
    height: 90%;
    padding: 10px;
    margin: 10px 5px;
    background-color: rgb(138, 29, 29);
    color: white;
    vertical-align: center;
  }

}

.btn {
  padding: 10px 15px;
  margin: 15px;
  background-color: #009;
  webkit-border-radius: 5px;
  moz-border-radius: 5px;
  o-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: white;
}

/* form elements styling */

form {

  label {
    color: yellow;
    width: 200px;
    margin-left: 5px;
    display: inline-block;
  }
  input {
    color: black;
    width: 200px;
    // display: block;
    // float: right;
    // padding-left: 200px;
    // background-color: #035;
    // line-height: 5px;
    // height: 20px;
    // margin-right: -250px;
    // padding-left: 100px;
  }
}

/* Countdown timer till pressie time! */

#countdown_dashboard {
  height: 110px;
  margin-top: 65px;
}

.dash {
  width: 110px;
  height: 114px;
  background: transparent url('../images/dash.png') 0 0 no-repeat;
  float: left;
  margin-left: 20px;
  position: relative;
}

.dash .digit {
  font-size: 55pt;
  font-weight: bold;
  float: left;
  width: 55px;
  text-align: center;
  font-family: Times;
  color: rgb(253, 251, 250);
  position: relative;
}

.dash_title {
  position: absolute;
  display: block;
  bottom: 0px;
  right: 6px;
  font-size: 11pt;
  color: rgb(253, 251, 250);
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* images */

#pulling-santa {
  width: auto;
  height: 180px;
  margin: 10px 0;
}

img.align-center {
  // display: block;
  text-align: center;
}