body {
  background: url('/assets/social-media-agency-santas.jpg') 25px 200px repeat;
  margin-top: 25px;
}

.container {
  width: auto;
  // height: 550px;
  border: 5px solid black;
  background-color: rgba(51, 51, 51, 0.41);
  padding: 10px;
  margin-top: 15px;
  margin-left: 0px;

  .inner-container {
    border: 5px solid #fff;
    width: auto;
    height: 90%;
    padding: 10px;
    margin: 10px 5px;
    background-color: rgb(138, 29, 29);
    color: white;
    vertical-align: center;
  }

}

.btn {
  padding: 10px 15px;
  margin: 10px;
  background-color: #009;
  webkit-border-radius: 5px;
  moz-border-radius: 5px;
  o-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/* form elements styling */

form {

  label {
    color: yellow;
    width: 200px;
    margin-left: 5px;
    display: inline-block;
    padding: 15px;
  }
  input {
    color: black;
    width: 200px;
    display: inline-block;
    // display: block;
    // float: right;
    // padding-left: 200px;
    // background-color: #035;
    // line-height: 5px;
    // height: 20px;
    // margin-right: -250px;
    // padding-left: 100px;
  }
}

#product-search-box {
  label {
    color: white;
    font-family: Courier;
    font-size: 20px;
    text-align: center;
  }
  input {
    font-size: 16px;
    margin-bottom: 30px;
  }
  submit {
    
  }

}

/* Countdown timer till pressie time! */

#countdown_dashboard {
  height: 110px;
  // margin-top: 25px;
  // display: block;
  // margin: 25px;
  padding: 35px;
}

.dash {
  width: 110px;
  height: 114px;
  // background: transparent url('/assets/dash.png') 0 0 no-repeat;
  float: left;
  margin-left: 20px;
  position: relative;
}

.dash .digit {
  font-size: 55pt;
  font-weight: bold;
  float: left;
  width: 55px;
  text-align: center;
  font-family: Times;
  color: rgb(253, 251, 250);
  position: relative;
}

.dash_title {
  position: absolute;
  display: block;
  bottom: 10px;
  right: 6px;
  font-size: 11pt;
  color: rgb(253, 251, 250);
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* images */

img.align-center {
  display: block;
  margin: 0 auto;
}

#jersey-reverse {
  position: relative;
  float: left;
  height: 95%;

}

// div.ui-dialog.ui-widget.ui-dialog-content.ui-widget-content {
//   background-color: rgb(138, 29, 29);
// }


/* Rotate the image to get the search form */
#f1_container {
  position: relative;
  margin: 10px auto;
  width: 802px;
  height: 251px;
  z-index: 1;
}
#f1_container {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
#f1_card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all 1.0s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all 1.0s linear;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card, #f1_container.hover_effect #f1_card {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);

  -webkit-box-shadow: -5px 5px 5px #aaa;
  -moz-box-shadow: -5px 5px 5px #aaa;
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  -webkit-transform: rotateX(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateX(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateX(180deg);
  -o-box-sizing: border-box;
  transform: rotateX(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}
