nav ul li {
  display: inline-block;
  width: auto;
  font-family: Courier;
  font-weight: bold;
  font-size: 22px;
  // border: 5px solid white;
  // margin: 2.5px 0;
  margin: 0 10px;
  padding: 15px 25px;
  background-color: white;
  a {  
    color: !important green;
    text-decoration: none;
  }
}

nav {
  background-color: rgba(0, 0, 0, 0.41);
  border: 5px solid #8a1d1d;
  color: yellow;
}

#amazon-locale {
  color: black;
  float: right;
}