ul {
  overflow: auto;
  // border: 1px solid green;

  .amazon_list {
    width: 200px;
    border: 3px solid black;
    list-style: none;
    margin: 10px;
    background-color: white;
    color: black;
    float: left;
    li {
      color: red;
    }
    li.pic {
      margin: 5%;
      border: 1px dashed brown;
      // probably want to do something that allows the users to click anywhere on the item
    }
  }
}

div.add .btn-to-saddlebag {
  padding: 12px 3px 12px 3px;
  display: block;
  margin: 10px auto 0 auto;
  webkit-border-radius: 0;
  moz-border-radius: 0;
  o-border-radius: 0;
  border-radius: 0;
}