<section>
  <nav>
    <ul>
      <li>The Cyclist in your Life</li>
      <li><%= link_to "Registration", registration_path %></li>
      <li><%= link_to "I want in! (Login)", login_path %></li>
      <li><%= link_to "Get me outta ere! (Logout)", logout_path %></li>
    </ul>
  </nav>
</section>